<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{model.dev.name}}</h1>
    <p class="lead">Demographics</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    <ul class="list-group">
      <li class="list-group-item">
        Age: <b>{{model.dev.age}}</b>
      </li>
      <li class="list-group-item">
        What I do: <b>{{model.stats.catchphrase}}</b>
      </li>
      <li class="list-group-item">
        Github stats:
          <ul>
            {{#each-in model.stats.github as |key value|}}
              <li>
                {{key}}:
                {{#if (eq key 'issues')}}
                  {{#each-in value as |key value|}}
                    <ul>
                      <li>{{key}}: <b>{{value}}</b></li>
                    </ul>
                  {{/each-in}}
                {{else}}
                  <b>{{value}}</b>
                {{/if}}
              </li>
            {{/each-in}}
          </ul>
      </li>
    </ul>

    <div class="text-center">
      {{random-gif keyword=model.dev.name}}
    </div>
  </div>

</div>

<br>
<br>

<div class="text-center">
  {{#link-to 'devs' class="text-white"}}◀ Back{{/link-to}}
</div>

{{outlet}}
