<h1>{{model.dev.name}}</h1>
<h2>Demographics</h2>

<div class="box">
  <ul>
    <li>Age: <b>{{model.stats.age}}</b></li>
    <li>What I do: <b>{{model.stats.catchphrase}}</b></li>
    <li>
      Github stats:
        <ul>
          {{#each-in model.stats.github as |key value|}}
            <li>
              {{key}}:
              {{#if (eq key 'issues')}}
                {{#each-in value as |key value|}}
                  <ul>
                    <li>{{key}}: <b>{{value}}</b></li>
                  </ul>
                {{/each-in}}
              {{else}}
                <b>{{value}}</b>
              {{/if}}
            </li>
          {{/each-in}}
        </ul>
    </li>
  </ul>
</div>

<h3>
  {{#link-to 'index'}}◀ Back{{/link-to}}
</h3>

{{outlet}}
